body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  width: 34px;
}

.column {
  display: inline-block;
}
