body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

.board {
  width: 546px;
  height: 520px;
  margin: 48px auto;
}

.turn-label {
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  height: 68px;
  margin: 4px;
  width: 68px;
  border-radius: 34px;
}

.square.red {
  background: #f00;
}

.square.blue {
  background: #00f;
}

.column {
  display: inline-block;
  margin-bottom: 40px;
}

.winner-announce-background {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: hsl(120, 0%, 100%, 90%);
}
.winner-announce {
  text-align: center;
  padding-top: 152px;
}